In [1]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect("NBA-Boxscore-Database.sqlite")  # replace with your file

# Load data into a DataFrame
#df = pd.read_sql_query("SELECT * FROM ", conn)

# Close the connection
#conn.close()




# Get a list of all table names
cursor = conn.cursor()
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Print table names
for table in tables:
    print(table)

conn.close()

('game_info',)
('player_stats',)
('team_stats',)

In [9]:
conn = sqlite3.connect("NBA-Boxscore-Database.sqlite")

# Load data into a DataFrame

df = pd.read_sql_query("SELECT * FROM game_info ", conn)

print(df)
# Close the connection
conn.close()

            game_id  season        date away_team  away_score home_team  \
0      131410290001    1314  2013-10-29       ORL          87       IND
1      131410290002    1314  2013-10-29       CHI          95       MIA
2      131410290003    1314  2013-10-29       LAC         103       LAL
3      131410300004    1314  2013-10-30       BRK          94       CLE
4      131410300005    1314  2013-10-30       BOS          87       TOR
...             ...     ...         ...       ...         ...       ...
11974  222304091226    2223  2023-04-09       UTA         117       LAL
11975  222304091227    2223  2023-04-09       NOP         108       MIN
11976  222304091228    2223  2023-04-09       MEM         100       OKC
11977  222304091229    2223  2023-04-09       LAC         119       PHO
11978  222304091230    2223  2023-04-09       GSW         157       POR

       home_score  result
0              97       1
1             107       1
2             116       1
3              98       1
4              93       1
...           ...     ...
11974         128       1
11975         113       1
11976         115       1
11977         114       0
11978         101       0

[11979 rows x 8 columns]

In [18]:
df['date'] = pd.to_datetime(df['date'])

In [20]:
df['date']

0       2013-10-29
1       2013-10-29
2       2013-10-29
3       2013-10-30
4       2013-10-30
           ...
11974   2023-04-09
11975   2023-04-09
11976   2023-04-09
11977   2023-04-09
11978   2023-04-09
Name: date, Length: 11979, dtype: datetime64[ns]

In [22]:
df['season']

0        1314
1        1314
2        1314
3        1314
4        1314
         ...
11974    2223
11975    2223
11976    2223
11977    2223
11978    2223
Name: season, Length: 11979, dtype: int64

In [24]:
df['season'] = df['season'].astype(str).str[:2] + "-" + df["season"].astype(str).str[2:]

In [26]:
df['season']

0        13-14
1        13-14
2        13-14
3        13-14
4        13-14
         ...
11974    22-23
11975    22-23
11976    22-23
11977    22-23
11978    22-23
Name: season, Length: 11979, dtype: object